@use '../abstracts/' as *;

.header {
  @media (min-width: 768px) {
    & {
      margin: 0 11%;
    }

    .hamburguer-menu {
      display: none;
    }

    .header__nav-menu {
      display: flex;
      gap: 3.2rem;
    }
  }

  &__nav-menu {
    display: none;
  }

  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.8rem 2.4rem;
  }

  &__nav-logo {
    color: $color-blue-200;
    font-weight: 700;
    font-size: 1.8rem;
  }

  .mobile-menu {
    display: none;
    background-color: #6070ff;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.4rem;
    opacity: 95%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    color: #fff;
    font-size: 3.2rem;
    padding-left: 2.8rem;
    padding-top: 10.6rem;
    flex-direction: column;
    gap: 4rem;
    transition: all 1s ease;
  }

  .x-mobile {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}
