.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/headerbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  padding: 0 2.4rem;
  min-height: 80vh;

  @media (min-width: 768px) {
    & {
      background-image: url("../../resources/img/header-bg-desktop.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__container {
      margin: 0 18%;
    }
  }
}
