/* stylelint-disable selector-class-pattern */
.lang-fram-skills {
  background-color: #fff;
  padding: 3.6rem;
}

.lang-fram-skills__languages {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  padding-right: 2.3rem;
}

.ellipse-image {
  padding: 0.9rem 1.6rem 1rem 1.2rem;
}

.lang-fram-skills__ellipses li {
  display: flex;
  align-items: center;
  color: #253858;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  background-color: #f7f7f9;
  margin: 1.2rem 0;
}

.lang-fram-skills__ellipses li:last-child {
  margin-bottom: 3.6rem;
}

.lang-fram-skills__frameworks {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 2.3rem;
}

.lang-fram-skills__skills {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 2.3rem;
  padding-top: 2.4rem;
}
