.btn {
  margin-top: 4rem;
  margin-bottom: 4rem;

  &-primary {
    padding: 1.2rem;
    color: #396df2;
    border: 1px solid #6070ff;
    border-radius: 0.8rem;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.4rem;

    &:hover {
      color: #fff;
      background-color: #6070ff;
    }

    &:active {
      color: #fff;
      background-color: #2230d2;
    }

    &:visited {
      color: #5e6c84;
      background-color: #fff;
      border: 1px solid #c1c7d0;
    }
  }
}
