/* stylelint-disable selector-class-pattern */
@use "../abstracts/" as *;

.primary-heading {
  color: $color-blue-500;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  margin-bottom: 1.2rem;
}

.primary-paragraph {
  color: $color-grey-800;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.secondary-heading {
  color: $color-blue-100;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.2rem;
}

.works__heading {
  color: $color-blue-500;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.works__list--1 {
  color: $color-grey-600;
  line-height: 1.6rem;
  display: flex;
  justify-content: baseline;
  gap: 1.2rem;
  margin: 2rem 0;
}

.works__paragraph {
  color: $color-grey-800;
  font-weight: 400;
  font-size: 1.5rem;
}

.canopy {
  color: $color-grey-800;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.secondary-paragraph {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ebebff;
}

.contact-form-container h1 {
  color: #fff !important;
}
