/* stylelint-disable selector-class-pattern */
.primary-heading {
  color: #172b4d;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  margin-bottom: 1.2rem;
}

.primary-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.secondary-heading {
  color: #7f8cff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.2rem;
}

.works__heading {
  color: #172b4d;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.works__list--1 {
  color: #7a869a;
  line-height: 1.6rem;
  display: flex;
  justify-content: baseline;
  gap: 1.2rem;
  margin: 2rem 0;
}

.works__paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 1.5rem;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
}
