$color-white: #fff;
$color-black: #000;
$color-grey-100: #f7f7f9;
$color-grey-200: #ebebff;
$color-grey-300: #dfe1e6;
$color-grey-400: #e5e5e5;
$color-grey-500: #c1c7d0;
$color-grey-600: #7a869a;
$color-grey-700: #5e6c84;
$color-grey-800: #1a222e;
$color-grey-900: #253858;
$color-blue-100: #7f8cff;
$color-blue-200: #0b177e;
$color-blue-300: #396df2;
$color-blue-400: #2230d2;
$color-blue-500: #172b4d;
